.footer {
  margin-top: 55px;
  line-height: 48px;
  border-top: 1px solid var(--color-border-dark);
  font-size: 14px;
  color: #9aa5b5;
  font-weight: 600;
}

.footer__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: var(--size-container);
  margin: 0 auto;
}

.footer__left {
  text-align: left;
}

.footer__center {
  text-align: center;
}

.footer__right {
  text-align: right;
}
